<h2>Search Forms</h2>

<!-- <form action="/action_page.php">
  <label for="ftitle">Book Title:</label><br>
  <input type="text" id="ftitle" name="ftitle" value=""><br>
  <input type="submit" value="Submit">
</form>  -->

<select class="form-select" aria-label="Default select example">
  <option selected>Search Option</option>
  <option value="1">By Title</option>
  <option value="2">By Author</option>
  <option value="3">By Year</option>
  <option value="3">By Genre</option>
</select>
<br>
<p>If you click the "Submit" button, the form-data should be sent to a the backend.</p>
