

<header>
  <h2>Rhams Home Library</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="/add-book">Add a Book</a></li>
      <li><a href="/remove-book">Remove a Book</a></li>
      <li><a href="/bool-list">List of Books</a></li>
      <li><a href="/search-book">Search</a></li>
    </ul>
  </nav>
  
  <article>
    <h1>Rhamazany Home Library</h1>
    <p>RHL est une bibliotheque de maison servant a repertorier tout les livres present dans la maison des Rhamazany</p>
    <p>L'application permettra de voire la liste des livres present dans la maison, ainsi que d'ajouter, enlever, et modifier des livres deja present.</p>
  </article>
</section>

<footer>
  <p>Footer</p>
</footer>


