

<header>
  <h2>Rhams Home Library</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a [routerLink]="['/add-book']">Add a Book</a></li>
      <li><a href="/remove-book">Remove a Book</a></li>
      <li><a href="/book-list">List of Books</a></li>
      <li><a href="/search-book">Search</a></li>
    </ul>
  </nav>
  
  <article>
    <router-outlet></router-outlet>
    <p>
      <b>Current Time: </b>{{ dateTimeToDisplay }}
    </p>
  </article>
</section>

<footer>
  <p>Footer</p>
</footer>


