
<form [formGroup]="createBookFormGroup" (ngSubmit)="onCreateBook()" class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><h1>Create Book Form</h1></h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <h4>Create Book</h4>
                <label class="col-sm-2 control-label" for="input-title">Title</label>
                <div class="col-sm-8">
                    <input formControlName="title" type="text" id="input-title" class="form-control">
                </div>
                <label class="col-sm-2 control-label" for="author">Author</label>
                <div class="col-sm-8">
                    <input id="author" formControlName="author" type="text" class="form-control">
                </div>
                <label class="col-sm-2 control-label" for="genre">Genre</label>
                <div class="col-sm-8">
                    <input id="genre" formControlName="genre" type="text" class="form-control">
                </div>
                <label class="col-sm-2 control-label" for="year">Year</label>
                <div class="col-sm-8">
                    <input id="year" formControlName="year" type="text" class="form-control">
                </div>
            </div>   
        </div>
        <div class="panel-footer">
            <div class="col-sm-8">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    </div>
</form>