<h2>Delete Book Forms</h2>

<!-- <form action="/action_page.php">
  <label for="ftitle">Book Title:</label><br>
  <input type="text" id="ftitle" name="ftitle" value=""><br>
  <input type="submit" value="Submit">
</form>  -->

<select class="form-select" aria-label="Default select example">
  <option selected>Delete Book Option</option>
  <option value="1">By Title</option>
  <option value="2">By Author</option>
  <option value="3">By Year</option>
  <option value="3">By Genre</option>
</select>
<br>
<p>Click on the box to select a delete option</p>
